.primarySidebar {
  min-height: calc(100vh - 70px);
  background: #191c24;
  width: 250px;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  position: relative;
}
.sidebar {
  font-weight: normal;
  padding: 0;
  width: 244px;
  height: 100vh;
  position: fixed;
}
